/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! For example - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */


.MMM-SimpleTides .header {
  color: white;               /* Color the name text. Default is white. */
  text-align: left;           /* Align the name text. (left, center, right) */
}

.MMM-SimpleTides .dt {
  color: white;               /* Color the date and time text. Default is white. */
  text-align: left;           /* Align the date and time text. (left, center, right) */
}

.MMM-SimpleTides .height {
  color: white;               /* Color the height text. Default is white. */
  text-align: left;           /* Align the height. (left, center, right) */
/*  display: none; */         /* Uncomment if you don't want the height */
}

.MMM-SimpleTides .type {
  color: white               /* Color the High/Low tide. Default is white. */
  text-align: left;           /* Align the High/Low tide. (left, center, right) */
/*  display: none; */         /* Uncomment if you don't want the type */
}

.MMM-SimpleTides .station {
  color: white;               /* Color the station. Default is white. */
  text-align: left;           /* Align the station. (left, center, right) */
/*  display: none; */         /* Uncomment if you don't want the station */
}

.MMM-SimpleTides .latLon {
  color: white;               /* Color the latLon. Default is white. */
  text-align: left;           /* Align the latLon. (left, center, right) */
/*  display: none; */         /* Uncomment if you don't want the latLon */
}